!!!

%html
	%head
		%title WebKeno
		%link{:rel => 'stylesheet', :type=>"text/css", :href => "/keno.css"}
		%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
		-if @new_ticket
			%script{:type => "text/javascript", :src => "/newTicket.js"}
		-else
			%script{:type => "text/javascript", :src => "/keno.js"}

	%body
		%div(id='validation' class='validation')
		%div
			%span(class='column-one' style="vertical-align: top; width: 175px")
				%a(href='/')
					%h1 Keno
				-if @new_ticket
					%div
						Name:
						%br
						%input(name='user' id='name') 
					%br
					%div
						Number of races:
						%br
						%input(name='numberOfRaces' id='numberOfRaces')
					%br
					%input(type='button' value='Save' class='submit' id='submitButton')
				-else
					%h3
						%a(href='/newticket') Create a ticket
					%br
					%div(id='status' class='label')
						Current Race #
						%br
						%span(id='race-number' class='status-detail')
					%div(id='timer-div' class='label')
						Next race in:
						%br 
						%span(id='time'  class='status-detail')
							0
			%span(class='column-two')
				%table(class='keno-board') 
					-(0..7).each do |row| 
						%tr
						-(0..9).each do |cell|
							%td(class='number-cell') 
								= (row * 10 + cell + 1)
					
