table, td
{
	border-color:black;
	border-style:solid;
	border-width:thick;
	border-spacing:0;
}
 td
{
	color:red;
	background-color:#DF9731;
	padding:20px;
	font-size:xx-large;
	margin:0;
	align:center;
}
.chosen
{
	background-color:yellow;
}