$dark_blue: hsl(210, 53%, 39%);
$light_blue: hsl(210, 43%, 69%); 
$yellow: #F0FC83;
$green: hsl(66, 53%, 49%);
$red: hsl(4, 33%, 74%); 

@mixin big_font{ 
  font-weight: bold;
  font-size: xx-large;
}

body
{
	background-color: $dark_blue; 
	color: $green;
	margin-top: 10px;
  font-family: 'Helvetica Neue';
	
	.label
	{
		font-size: large;
		margin-top: 20px;
	}
}

h1 {margin: 0px}

a
{
  &:link, &:visited { 
	  color: $green;
  	text-decoration:underline;
  }
  &:hover, &:active {
    color: hsl(4, 33%, 74%);
  }
}

.keno-board
{
  @include big_font;
	border:2px solid $dark_blue; 
	color:black;
	background-color: $light_blue;
	padding: 0px;
	text-align:center;
	border-spacing:0;
	
	table, td
	{
		border-color: $dark_blue;
		border-style: solid;
		border-width: medium;
		padding:15px;
	}
}

td.clickable:hover
{
	background-color: $red;
  cursor: pointer;
}

td.chosen
{
	background-color: $yellow;
}

.submit
{
  @include big_font;
	height:50px;
	width:150px;
	background-color:$yellow;
	border-radius: 10px;
	margin-top:10px;
	border:3px solid;
  &:hover
  {
	  background-color: $red;
  }
}

.validation
{
	color:black;
	font-size:large;
}

span.status-detail
{
	color: white;
}

span.column-one
{
	float:left;
}



