body
{
	background-color: hsl(210, 53%, 39%);
	color: hsl(66, 53%, 49%);
	margin-top: 10px;
	
	.label
	{
		font-size: large;
		margin-top: 20px;
	}
}

a:link, a:visited 
{
	color: hsl(66, 53%, 49%);
	text-decoration:underline;
}

a:hover, a:active
{
	color: hsl(4, 33%, 74%);
}

td
{
	margin:0;
}

.keno-board
{
	border-color:hsl(210, 53%, 39%);
	border-style:solid;
	color:black;
	background-color:hsl(210, 43%, 69%);
	padding: 0px;
	font-size:xx-large;
	font-family:impact;
	text-align:center;
	border-spacing:0;
	
	table, td
	{
		border-color:hsl(210, 53%, 39%);
		border-style:solid;
		border-width:med;
		padding:15px;
	}
}

td.clickable:hover
{
	background-color: hsl(4, 33%, 74%);
}

.chosen
{
	background-color:#F0FC83;
}

.submit
{
	height:50px;
	width:150px;
	background-color:#F0FC83;
	font-size:xx-large;
	font-family:impact;
	border-radius: 10px;
	margin-top:10px;
	border:3px solid;
}

.submit:hover
{
	background-color: hsl(4, 33%, 74%);
}

.validation
{
	color:black;
	font-size:large;
}

.inputSpan
{
	display:block;
	padding-bottom:30px;
	input
	{
		margin-right:20px;
	}
}

span.status-detail
{
	color: white;
}

span.column-one
{
	float:left;
	display:inline;
}

span.column-two
{
	display:inline;
}


